a {
	text-decoration: none;
}

.formWrapper {
	background-color: #011633;
	flex: 1;
	box-shadow: 0px 0px 15px #2c3e50;
	display: flex;
	align-items: center;
	justify-content: center;
}

.formWrapper h1 {
	color: #6193bf;
	text-shadow: -1px 1px 5px #2980b9;
	padding: 10px;
}
/* Form container */
form {
	width: 400px;
	margin: auto;
	padding: 20px;
	background: rgba(0, 0, 0, 0.8);
	border-radius: 8px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

/* Form labels */
form label {
	display: block;
	color: #b0c4de;
	font-weight: bold;
	margin-bottom: 5px;
}

/* Input fields */
form input[type='email'],
form input[type='text'],
form input[type='date'],
form input[type='password'] {
	width: 100%;
	padding: 10px;
	border: 1px solid #6193bf;
	border-radius: 5px;
	background: #1a1a1a;
	color: #f0f0f0;
	font-size: 14px;
}

form input[type='date'] {
	width: 100%;
	padding: 10px;
	border: 1px solid #6193bf;
	border-radius: 5px;
	background: #1a1a1a;
	color: #f0f0f0;
	font-size: 14px;
	appearance: none;
}

form input[type='date']::-webkit-calendar-picker-indicator {
	filter: invert();
	cursor: pointer;
}

/* Input focus state */
form input[type='email']:focus,
form input[type='text']:focus,
form input[type='date']:focus,
form input[type='password']:focus {
	outline: none;
	border-color: #2980b9;
	box-shadow: 0px 0px 5px #00bfff;
}

/* Submit button */
form button {
	width: 100%;
	padding: 10px;
	background-color: #00bfff;
	border: none;
	border-radius: 5px;
	color: #ffffff;
	font-weight: bold;
	font-size: 16px;
	cursor: pointer;
	transition: background-color 0.3s ease, color 0.3s ease;
}

/* Submit button hover state */
form button:hover {
	color: black;
	background: #00ffff;
}

/* Submit button focus state */
form button:focus {
	outline: none;
	box-shadow: 0px 0px 5px #00ffff;
}

/* Adjust spacing between input fields */
form div {
	margin-bottom: 15px;
}

h4 {
	color: #6193bf;
	text-shadow: -1px 1px 15px #2980b9;
	padding: 10px;
}

h4 a {
	color: #03ade6;
	text-shadow: -1px 1px 15px #297fb9a5;
	transition: color 0.3s ease;
}

h4 a:hover {
	color: #00ffff;
}

/* Responsive adjustments can be added if needed */
@media (max-width: 600px) {
	.app-container {
		flex-direction: column;
	}

	.login-form input[type='text'],
	.login-form input[type='password'],
	.login-form button {
		width: 90%; /* Increase width in smaller screens */
	}
}
